# creating lists==> sakhte list ha

In [1]:
number=[1,2,3,4,5,6,7,8]
names=["ali","mohsen","sara","dara"]
mixed=[12,20.5,-300,"ali","a",[1,2,3]]
print(number)
print(names)
print(mixed)

[1, 2, 3, 4, 5, 6, 7, 8]
['ali', 'mohsen', 'sara', 'dara']
[12, 20.5, -300, 'ali', 'a', [1, 2, 3]]

# accessing elements==> dastresi be be anasore dakhele list

In [5]:
names=["ali","amir","sara","dara"]
print(names[1])
print(names[2])
print(names[-1])

amir
sara
dara

In [9]:
print(names[1:])
print(names[:-1])
print(names[:])
print(names[0::2])

['amir', 'sara', 'dara']
['ali', 'amir', 'sara']
['ali', 'amir', 'sara', 'dara']
['ali', 'sara']

In [12]:
mixed=[12,20.5,-300,"ali","a",[1,2,3]]
print(mixed[-1])
print(mixed[-1][1:])

[1, 2, 3]
[2, 3]

# tavize paramtre

In [13]:
mixed=[12,20.5,-300,"ali","a",[1,2,3]]
mixed[1]=20
print(mixed)

[12, 20, -300, 'ali', 'a', [1, 2, 3]]

# concatentation ya edgham

In [15]:
numbers1=[1,2,3,4,5]
numbers2=[6,7,8,9,10]
numbers3=numbers1+numbers2
print(numbers1+numbers2)
print(numbers3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Methods

# append==> ezafe kardane ozv jadid be akhare list

In [16]:
numbers=[10,20,30,40,50]
numbers.append(60)
print(numbers)

[10, 20, 30, 40, 50, 60]

# insert==> ezafe kardan ozve jadid be jaye  delkhah

In [17]:
cars=["BMW","FORD","BENZ"]
cars.insert(2,"Ferrari")
print(cars)

['BMW', 'FORD', 'Ferrari', 'BENZ']

In [18]:
cars=["BMW","FORD","BENZ"]
cars.insert(2,[1,2,3,4])
print(cars)

['BMW', 'FORD', [1, 2, 3, 4], 'BENZ']

# remove==> pak kardan ozv

In [19]:
cars=["BMW","FORD","BENZ"]
cars.remove("BENZ")
print(cars)

['BMW', 'FORD']

# clear==> pak kardane kole azaye list

In [20]:
cars=["BMW","FORD","BENZ"]
cars.clear()
print(cars)

[]

# pop==> pak kardane ozv ba index

In [21]:
cars=["BMW","FORD","BENZ"]
cars.pop(2)
print(cars)

['BMW', 'FORD']

# count==> shomareshe yek harf ya adad

In [25]:
lst=[1,2,3,4,5,6,"amir","ali",6]
print(lst.count(3))
print(lst.count("amir"))
print(lst.count(20))
print(lst.count(6))

1
1
0
2

# sort==> moratab kardan aza==> dast be list asli mizanad

In [26]:
numbers=[12,20,3,1.5,100]
numbers.sort()
print(numbers)

[1.5, 3, 12, 20, 100]

# sorted==> moratab kardan aza==> ama dast be liste asli nemizanad

In [27]:
numbers2=[12,20,3,1.5,100]
print(sorted(numbers))
print(numbers2)

[1.5, 3, 12, 20, 100]
[12, 20, 3, 1.5, 100]

# nokte==> az liste asli hatman yek liste digar besazid

In [28]:
numbers2=[12,20,3,1.5,100]
numbers3=numbers2
print(numbers3)
numbers2.sort()
print(numbers2)
print(numbers3)

[12, 20, 3, 1.5, 100]
[1.5, 3, 12, 20, 100]
[1.5, 3, 12, 20, 100]

# copy

In [29]:
numbers=[1,2,3,4]
numbers2=numbers.copy()
print(numbers)
print(numbers2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [31]:
numbers=[2,10,5,1]
numbers2=numbers.copy()
print(numbers2)
numbers.sort()
print(numbers)
print(numbers2)

[2, 10, 5, 1]
[1, 2, 5, 10]
[2, 10, 5, 1]

# index==> shomareye index made nazar ra midahad

In [32]:
lst1=[20,25.5,"a","ali",[2,3,4]]
print(lst1.index("a"))

2

In [33]:
lst1=[20,25.5,"a","ali",[2,3,4],"a"]
print(lst1.index("a"))

2

# extend==>ezafe kardan chand ozv be list

In [34]:
numbers=[10,20,30,40]
numbers.extend([50,60,70])
print(numbers)

[10, 20, 30, 40, 50, 60, 70]

In [35]:
numbers=[10,20,30,40]
numbers.append([50,60,70])
print(numbers)

[10, 20, 30, 40, [50, 60, 70]]

# nahveye ezafe kardan ozv be list tavasote khode karbar

In [37]:
lst=[]
name=input("lotfan nametan ra vared konid:")
lst.append(name)
print(lst)

lotfan nametan ra vared konid:ali
['ali']

In [38]:
lst=[]
i=0
while i<4:
    name=input("Lotfan name morede nazaretan ra vared konid:")
    lst.append(name)
    i=i+1

print(lst)

Lotfan name morede nazaretan ra vared konid:kiarash
Lotfan name morede nazaretan ra vared konid:amir
Lotfan name morede nazaretan ra vared konid:ali
Lotfan name morede nazaretan ra vared konid:sara
['kiarash', 'amir', 'ali', 'sara']

In [39]:
lst=[]
i=0
while i<4:
    score=float(input("Lotfan nomre made nazaretan ra vard konid:"))
    lst.append(score)
    i=i+1

print(lst)

Lotfan nomre made nazaretan ra vard konid:20
Lotfan nomre made nazaretan ra vard konid:18
Lotfan nomre made nazaretan ra vard konid:19.5
Lotfan nomre made nazaretan ra vard konid:10
[20.0, 18.0, 19.5, 10.0]

# split

In [40]:
text=input("please enter one sentence:")
text2=text.split()
print(text2)

please enter one sentence:ali be madrese raft
['ali', 'be', 'madrese', 'raft']

In [41]:
text=input("please enter one sentence:")
text2=text.split(".")
print(text2)

please enter one sentence:ali be madrese raft. hasan bargasht.ali darsesho khond.
['ali be madrese raft', ' hasan bargasht', 'ali darsesho khond', '']

In [43]:
email=input("lotfan emailetan ra vared konid:")
email2=email.split("@")
print(email2[0])

lotfan emailetan ra vared konid:apple@yahoo.com
apple

# max/min

In [44]:
lst=[1234,12,10,290,3456]
print(max(lst))
print(min(lst))

3456
10