# repetition

In [2]:
numbers=[1,2,3,4,5]
repeated=numbers*3
print(repeated)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# gardesh dar list

In [3]:
numbers=[10,20,30,40,50]
numbers2=[]
for i in numbers:
    print(i*2)
    numbers2.append(i*2)
print(numbers2)

20
40
60
80
100
[20, 40, 60, 80, 100]

In [4]:
numbers=[10,20,30,40,50]
numbers2=[i*2 for i in numbers]
print(numbers2)

[20, 40, 60, 80, 100]

# amaliat nazir be nazir bar roye list ha

In [6]:
numbers1=[1,2,3,4,5]
numbers2=[6,7,8,9,10]
result=[numbers1[i]+numbers2[i] for i in range(len(numbers1))]
print(result)

[7, 9, 11, 13, 15]

# ijade shart baraye list

In [7]:
numbers=[-1,-2,-3,3,4,5]
res=[i for i in numbers if i>=0]
print(res)

[3, 4, 5]

In [8]:
numbers=[-1,-2,-3,3,4,5]
res=[]
for i in numbers:
    if i>=0:
        res.append(i)
print(res)

[3, 4, 5]

# list membership==> aya chizi ke made nazare ma mibashad dar list vojod darad ya kheir

In [11]:
mixed=[12,20,45.5,"ali","a","amir"]
print("ali" in mixed)
print("tech" in mixed)
print(60 in mixed)
print(20 in mixed)

True
False
False
True

In [13]:
city=input("Please enter your city:")
cities=["Tehran","Mashhad","Shiraz"]
if city in cities:
    res=cities.index(city)
    print(f"{city} with index of {res}")
else:
    print(f"{city} is not in our list")

Please enter your city:esfehan
esfehan is not in our list

In [18]:
number=int(input("Please enter your number:"))
numbers=[10,20,30]
if number in numbers:
    res=numbers.index(number)
    print(f"{number} with index of {res}")
else:
    print(f"{number} is not in our list")

Please enter your number:30
30 with index of 2

# filtersaion

In [19]:
scores=[10,8,20,16,6,3.5,4,20,19,12,14]
filt=[]
for i in scores:
    if i>15:
        filt.append(i)
print(filt)

[20, 16, 20, 19]

In [20]:
scores=[10,8,20,16,6,3.5,4,20,19,12,14]
filt=[i for i in scores if i>15]
print(filt)

[20, 16, 20, 19]

# tabdil

In [21]:
text=input("Please enter one text:")
print(text)
lst=list(text)
print(lst)

Please enter one text:ali
ali
['a', 'l', 'i']

# raveshe sakhte list ba dastore range

In [24]:
lst=list(range(21))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]