# set

# creating set

In [1]:
fruits={"apple","banana","orange"}
print(fruits,type(fruits))

{'orange', 'apple', 'banana'} <class 'set'>

In [3]:
companies={"bmw","benz","ferari","ford","benz"}
print(companies)

{'bmw', 'benz', 'ford', 'ferari'}

In [4]:
numbers={1,2,3,4,5,1,2,3,4,5}
print(numbers)

{1, 2, 3, 4, 5}

In [5]:
companies={"benz","bmw",[1,2,3,4]}
print(companies)

TypeError: unhashable type: 'list'

# dastresi be ozv haye set

In [6]:
numbers={10,20,30,40}
for i in numbers:
    if i==10:
        print(i)

10

In [1]:
numbers2={10,20,30,40,50}
for i in numbers2:
    if i>10 and i<40:
        print(i)

20
30

In [2]:
print(numbers2[0])

TypeError: 'set' object is not subscriptable

# Methods

# len=> toole set

In [3]:
numbers2={10,20,30,40,50}
print(len(numbers2))

5

# membership==> aya yek ozve khas ra dar set darim  ya kheir

In [4]:
numbers={1,2,3,4,5,6}
2 in numbers

True

In [5]:
3 in numbers

True

In [6]:
10 in numbers

False

# add==> ezafe kardan yek ozv be set

In [7]:
names={"ali","amir","sara","dara"}
names.add("amin")
print(names)

{'dara', 'ali', 'amin', 'sara', 'amir'}

# update==> character ezafe mikond

In [10]:
names={"ali","amir","amin","sara"}
names.update("k")
print(names)

{'ali', 'amin', 'sara', 'k', 'amir'}

# clear==> pak kardane kole ozv haye set

In [11]:
names={"ali","amir","amin","sara"}
names.clear()
print(names)

set()

# remove==> ozve morede nazar ra pak mikond vali agar nabashad error midahad

In [12]:
numbers2={10,20,30,40,50}
numbers2.remove(20)
print(numbers2)

{50, 40, 10, 30}

In [13]:
numbers.remove(100)

KeyError: 100

# discard==> pak mikonad ozve morede nazar ra va agar nabashad hich errori nemidahad

In [14]:
numbers2={10,20,30,40,50}
numbers2.discard(20)
print(numbers2)

{50, 40, 10, 30}

In [15]:
numbers.discard(100)

# copy==> copy mikonad

In [17]:
numbers2={10,20,30,40,50}
numbers3=numbers2.copy()
print(numbers2)
print(numbers3)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}

# difference==> ekhtelafe set1 va set2 ra midahad

In [18]:
companies={"apple","google","microsoft"}
companies2={"ibm","google","apple"}
dif=companies.difference(companies2)
print(dif)

{'microsoft'}

In [19]:
companies={"apple","google","microsoft"}
companies2={"ibm","google","apple"}
dif=companies2.difference(companies)
print(dif)

{'ibm'}

# intersection==> eshterak dehi

In [21]:
x={"a","b","c"}
y={"c","d","e"}
z={"f","g","c"}
res=y.intersection(x,z)
print(res)

{'c'}

In [24]:
x={"a","b","c"}
y={"c","b","e"}
z={"b","g","c"}
res=x.intersection(y,z)
print(res)

{'c', 'b'}

# union==> ejtemaiy az set hara be ma midahad

In [25]:
x={"a","b","c"}
y={"c","b","e"}
res=x.union(y)
print(res)

{'e', 'a', 'c', 'b'}