# Basic syntax

# Variables

In [ ]:
#int===> +2 ,+3,-10
#float==> 12.23,-101.5
#string==> "ali","a","k","python"

In [ ]:
#12a=12==> na dorost ==> nabyad avalesh adad bashad
#ali amir=24===> fasele nabayad beine esme moteghair ha bashad
#amir_rezaiy=28==> dorost ==> underline moshkeli nadard
#str==>> esm haye az ghabl tarif shode ra dar python gharar nadahid

In [4]:
a=10
b=20
print(a+b)
print(b-a)
print(b/a)
print(b%a)
print(b*a)
print(b**a)

30
10
2.0
0
200
10240000000000

In [2]:
name1="ali"
name2="amir"
print(name1,name2)
print(name1)
print(name2)

ali amir
ali
amir

In [3]:
#type ==> neshan dadane noe moteghair
name1="alireza"
number1=20
number2=20.5
print(type(name1))
print(type(number1))
print(type(number2))

<class 'str'>
<class 'int'>
<class 'float'>

# Input

In [5]:
# string
name = input("Enter your name: ")
print(f"Hello, {name}!")

Enter your name: arash
Hello, arash!

In [6]:
#  integer
age = int(input("Enter your age: "))
print(f"You are {age} years old.")

Enter your age: 20
You are 20 years old.

In [7]:
# float
height = float(input("Enter your height in meters: "))
print(f"Your height is {height} meters.")

Enter your height in meters: 190
Your height is 190.0 meters.

# -------------------------------------------------------------------------------------------------------

# Comparison

In [8]:
a=8
b=10
print(a)

8

In [9]:
a>b

False

In [10]:
a<b

True

In [11]:
num1=12
num2=12
num1>num2

False

In [12]:
num1==num2

True

In [13]:
num1>=num2

True

# -------------------------------------------------------------------------------------------------------

# Conditions

In [14]:
number1=20
number2=30
if number1>number2:
    print("number1 is higher than number2")
elif number1==number2:
    print("number1 is equal to number 2")
else:
    print("number1 is lower than number2")

number1 is lower than number2

In [15]:
number1=int(input("Please enter the number of days that you want to know:"))
if number1==1:
    print("today is saturday")
elif number1==2:
    print("today is sunday")
elif number1==3:
    print("today is monday")
elif number1==4:
    print("today is tuesday")
elif number1==5:
    print("today is wednesday")
elif number1==6:
    print("today is thursday")
elif number1==7:
    print("today is friday")
else:
    print("Your number is wrong")
    
print(type(number1))

Please enter the number of days that you want to know:3
today is monday
<class 'int'>

In [16]:
name=input("Please enter your name:")
if name=="ali":
    print("Your name is true")
else:
    print("your name is false")
print(type(name))

Please enter your name:amir
your name is false
<class 'str'>

In [17]:
number=float(input("Please enter the number:"))
if number>=50:
    print(f" {number} is higher than 50 or equal to 50")
else:
    print(f"{number} is lower than 50")

Please enter the number:67
 67.0 is higher than 50 or equal to 50

# -------------------------------------------------------------------------------------------------------

# Loop

In [ ]:
#1) for
#2) while

## for

In [18]:
for i in range(1,21): # (ebteda, enteha+1)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [19]:
for i in range(1,31):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [20]:
for i in range(1,32,2):# (edbteda,enteha+1, step)
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31

In [21]:
number=int(input("Please enter the number that you want to factoreil:"))
fact=1
for i in range(1,number+1):
    fact=fact*i
print(fact)

Please enter the number that you want to factoreil:5
120

## while

In [22]:
i=1
while i<20:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
i=0
score2=0
number=int(input("Please enter number of inputs:"))
while i<number:
    score=float(input("Please enter your score:"))
    score2=score2+score
    average=score2/number
    i=i+1
print("average:",average)

Please enter number of inputs:3
Please enter your score:20
Please enter your score:19
Please enter your score:18
average: 19.0

In [6]:
i=1
fact=1
number=int(input("Please enter the number:"))
while(i<number+1):
    fact=fact*i
    i=i+1
print(fact)

Please enter the number:6
720

# -------------------------------------------------------------------------------------------------------

# break==> kharej shodan az halghe zamani ke shoma bekhahid

In [7]:
for i in range(1,30):
    if i%7==0:
        print(i)
        break

7

In [9]:
for i in range(1,40):
    print(i)
    if i==4:
        print("enough")
        break

1
2
3
4
enough

# -------------------------------------------------------------------------------------------------------

# continue==> kharej shod az halghe va bargasht be halghe

In [10]:
for i in range(1,30):
    if i%7==0:
        print(i)
        continue

7
14
21
28

# -------------------------------------------------------------------------------------------------------

#  and===> hameye shorot bayad dorost bashand ta ejra shavand

In [11]:
a=16
if a>10 and a<15:
    print("true")
else:
    print("False")

False

# or ==> kafie ke yek tarafe shorot drost bashad ta ejra shavad

In [12]:
a=16
if a>10 or a<15:
    print("true")
else:
    print("False")

true

In [13]:
for i in range(1,21):
    
    if i>12 and i<16:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
16
17
18
19
20

In [14]:
for i in range(1,21):
    
    if i>12 and i<16:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

# -------------------------------------------------------------------------------------------------------

# Data strutures

In [ ]:
#1 string
#2-list
#3-dictionary
#4-tuple
#5-set

# String

In [20]:
a="a"
b="m"
c="i"
d="r"
print(a,b,c,d)

a m i r

In [21]:
name="ali daiy"
print(name)

ali daiy

### length

In [22]:
name=input("Please enter one name:")
print(len(name))

Please enter one name:amirali
7

### Accessing

In [23]:
a="ali"
print(a[0])
print(a[1])
print(a[2])

a
l
i

In [24]:
name="amir ali"
print(name[-1])
print(name[-2])

i
l

### Slicing

In [25]:
name="amir hosein"
print(name[0:4])

amir

In [26]:
name="amir hosein kjndcjsnksdcsdmncksd"
print(name[5:])

hosein kjndcjsnksdcsdmncksd

In [28]:
name="ali kheirabi"
print(name[2:-3])

i kheir

### Methods

In [29]:
#upper
a="iran"
print(a.upper())

IRAN

In [30]:
#lower
a="iran"
print(a.lower())

iran

In [31]:
#replace
text = "I love Python programming."
result = text.replace("Python", "Java")
print(result)

I love Java programming.

In [32]:
#split
text = "apple,banana,cherry"
result = text.split(",")
print(result)

['apple', 'banana', 'cherry']

# -------------------------------------------------------------------------------------------------------

# Lists

In [33]:
numbers=[1,2,3,4,5,6,7,8]
names=["ali","mohsen","sara","dara"]
mixed=[12,12.5,-129,"ali","a",[1,2,3]]
print(numbers)
print(names)
print(mixed)

[1, 2, 3, 4, 5, 6, 7, 8]
['ali', 'mohsen', 'sara', 'dara']
[12, 12.5, -129, 'ali', 'a', [1, 2, 3]]

### accessing elements

In [34]:
names=["ali","mohsen","sara","dara"]
print(names[1])
print(names[1:])
print(names[:-1])

mohsen
['mohsen', 'sara', 'dara']
['ali', 'mohsen', 'sara']

### Methods

In [35]:
#concatentation
numbers1=[1,2,3,4,5]
numbers2=[6,7,8,9,10]
print(numbers1+numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# append
numbers=[10,20,30,40,50]
numbers.append(60)
print(numbers)

In [38]:
#insert
cars=["BMW","BNZ","FORD"]
cars.insert(2,"Ferrari")
print(cars)

['BMW', 'BNZ', 'Ferrari', 'FORD']

In [39]:
cars=["BMW","BNZ","FORD"]
cars.remove("BNZ")
print(cars)

['BMW', 'FORD']

# -------------------------------------------------------------------------------------------------------

# Dictionaries

In [40]:
cars={"model1":"BMW","Model2":"Benz"}
print(cars)

{'model1': 'BMW', 'Model2': 'Benz'}

In [ ]:
brand={"name":"Bmw",
      "price":200,
      "date":2010
      }
print(brand)

### Accessing

In [42]:
fruits={"f1":"orange","f2":"apple","f3":"banana"}
print(fruits["f1"])

orange

### changing elements

In [43]:
fruits={"f1":"orange","f2":"apple","f3":"banana"}
fruits['f2']="grape"
print(fruits)

{'f1': 'orange', 'f2': 'grape', 'f3': 'banana'}

### Methods

In [44]:
car={
    "name":"peraid",
    "Company":"Irankhodro",
    "year":2022
}
print(car)

{'name': 'peraid', 'Company': 'Irankhodro', 'year': 2022}

In [45]:
#get
car={
    "name":"peraid",
    "Company":"Irankhodro",
    "year":2022
}
print(car.get("name"))

peraid

In [46]:
#keys
food={"n1":"Pizza","n2":"sandwich","n3":"kebab"}
print(food.keys())

dict_keys(['n1', 'n2', 'n3'])

In [47]:
# values
food={"n1":"Pizza","n2":"sandwich","n3":"kebab"}
print(food.values())

dict_values(['Pizza', 'sandwich', 'kebab'])

# -------------------------------------------------------------------------------------------------------

# Set

In [58]:
fruits={"apple","banana","orange"}
print(fruits)
print(type(fruits))

{'banana', 'apple', 'orange'}
<class 'set'>

In [59]:
companies={"benz","benz","bmw","ford","bmw"}
print(companies)

{'ford', 'benz', 'bmw'}

In [60]:
numbers={1,2,3,4,1,2,3,4}
print(numbers)

{1, 2, 3, 4}

# -------------------------------------------------------------------------------------------------------

# Tuple

# tuple==>haman list ast ama:
1) ba parantez sakhte mishavad
2) ozvhaye an ghabele taghir nistan
3) 2ta method bishtar nadarad

In [56]:
colors=("red","blue","yellow","green","black")
print(colors)

('red', 'blue', 'yellow', 'green', 'black')

In [57]:
colors=("red","blue","yellow","green","black")
print(colors[2])
print(colors[0:3])

yellow
('red', 'blue', 'yellow')

# -------------------------------------------------------------------------------------------------------

# data structures

1.reshte(strings)
2.list
3.tuple
4.dictionry
5.set

In [61]:
# 1.string
reshte="ali"
print(reshte,type(reshte))
print()
# 2.list
lst=[12,10,"a","ali",["bmw","benz",10],{"m1":10,"m2":"amir"}]
print(lst,type(lst))
print()

#3.tuple
tpl=(1,2,3,[10,20,30],"ali")
print(tpl,type(tpl))
print()

#4.dictionary
diction={"n1":1,"n2":"amir","n3":[10,20,"ali"]}
print(diction,type(diction))
print()

#5.set
seti={1,2,3,4,1,2,3,4,"ali","amir","ali"}
print(seti,type(seti))
print()

ali <class 'str'>

[12, 10, 'a', 'ali', ['bmw', 'benz', 10], {'m1': 10, 'm2': 'amir'}] <class 'list'>

(1, 2, 3, [10, 20, 30], 'ali') <class 'tuple'>

{'n1': 1, 'n2': 'amir', 'n3': [10, 20, 'ali']} <class 'dict'>

{1, 2, 3, 4, 'amir', 'ali'} <class 'set'>

# -------------------------------------------------------------------------------------------------------

# Functions

### Function with No Arguments

In [15]:
def greet():
    print("Hello, welcome to Python!")
greet()

Hello, welcome to Python!

### Function with Arguments

In [16]:
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 3)
print(f"The sum is: {result}")

The sum is: 8

### Function with Default Arguments

In [18]:
def greet_user(name="Guest"):
    print(f"Hello, {name}!")
greet_user("ali")
greet_user()

Hello, ali!
Hello, Guest!

### Function with input Arguments

In [19]:
def greet_user():
    name = input("Enter your name: ")
    print(f"Hello, {name}! Welcome to Python!")

greet_user()

Enter your name: sara
Hello, sara! Welcome to Python!

# -------------------------------------------------------------------------------------------------------

# Library

In [48]:
import math

In [49]:
math.pow(2,3)

8.0

In [50]:
math.sqrt(25)

5.0

In [51]:
math.sin(0)

0.0

In [52]:
math.factorial(5)

120

In [53]:
import numpy as np
random=np.random.randint(1,100)
flat=1
while flat==1:
    num=int(input("Enter the number: "))
#print("the random number is ",random)
    if num>random:
        print("Wrong, guess the lower number ")
    elif  num<random:
        print("Wrong, guess the higher number ")
    else:
        flat=0
print("correct, good job")

Enter the number: 20
Wrong, guess the lower number
Enter the number: 10
Wrong, guess the higher number
Enter the number: 15
Wrong, guess the lower number
Enter the number: 13
Wrong, guess the lower number
Enter the number: 11
Wrong, guess the higher number
Enter the number: 12
correct, good job

# -------------------------------------------------------------------------------------------------------

# Pip install

In [54]:
pip install pyttsx3

Collecting pyttsx3
  Obtaining dependency information for pyttsx3 from https://files.pythonhosted.org/packages/94/df/e1584757c736c4fba09a3fb4f22fe625cc3367b06c6ece221e4b8c1e3023/pyttsx3-2.98-py3-none-any.whl.metadata
  Downloading pyttsx3-2.98-py3-none-any.whl.metadata (3.8 kB)
Collecting comtypes (from pyttsx3)
  Obtaining dependency information for comtypes from https://files.pythonhosted.org/packages/af/65/8f28210e8c7fa6ee03cb36e9b49aee71fe1f8409e74641206c920c6bd4c8/comtypes-1.4.9-py3-none-any.whl.metadata
  Downloading comtypes-1.4.9-py3-none-any.whl.metadata (7.1 kB)
Collecting pypiwin32 (from pyttsx3)
  Obtaining dependency information for pypiwin32 from https://files.pythonhosted.org/packages/d0/1b/2f292bbd742e369a100c91faa0483172cd91a1a422a6692055ac920946c5/pypiwin32-223-py3-none-any.whl.metadata
  Downloading pypiwin32-223-py3-none-any.whl.metadata (236 bytes)
Requirement already satisfied: pywin32 in c:\users\asus\anaconda3\lib\site-packages (from pyttsx3) (305.1)
Downloading pyttsx3-2.98-py3-none-any.whl (34 kB)
Downloading comtypes-1.4.9-py3-none-any.whl (234 kB)
   ---------------------------------------- 0.0/234.8 kB ? eta -:--:--
   ----- ---------------------------------- 30.7/234.8 kB 1.4 MB/s eta 0:00:01
   ----- ---------------------------------- 30.7/234.8 kB 1.4 MB/s eta 0:00:01
   -------- ------------------------------ 51.2/234.8 kB 375.8 kB/s eta 0:00:01
   --------------------- ---------------- 133.1/234.8 kB 877.7 kB/s eta 0:00:01
   ------------------------ ------------- 153.6/234.8 kB 766.6 kB/s eta 0:00:01
   ---------------------------------------- 234.8/234.8 kB 1.0 MB/s eta 0:00:00
Using cached pypiwin32-223-py3-none-any.whl (1.7 kB)
Installing collected packages: pypiwin32, comtypes, pyttsx3
Successfully installed comtypes-1.4.9 pypiwin32-223 pyttsx3-2.98
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pyttsx3 as pyt
tts=pyt.init()
tts.say(" I love python")
tts.runAndWait()